# Ignore macOS .DS_Store files
.DS_Store

# Ignore Python bytecode cache
__pycache__/

# ignore result folder from model training
/results/

# ignore training.log but keep the folder (need logging to check/save/make prettier training progress in the notebook)
/logs/training.log